spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: cardio-service
          uri: lb://cardio-service
          predicates:
            - Path=/api/cardio/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

server:
  port: 8000
