server:
  port: 8081

spring:
  application:
    name: user-service

  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: user-service
            client-secret: 8e6k7MDq1luLdzEgHqc9Tpj9k8uX0JwA
            client-name: user-service
            authorization-grant-type: authorization_code
            scope: openid, profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/easy-fitness

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: user-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "com.healthfitness.*"   # пакет с UserDataEvent
        spring.json.value.default.type: "com.healthfitness.user.dto.UserDataMessage"

  datasource:
    url: jdbc:postgresql://localhost:5432/user_service
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    clean-disabled: true


eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

# Custom properties for Kafka topics
kafka:
  topic:
    user-data: user-data-topic

# application.yml user-service
logging:
  level:
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE




        
